
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/loading.css" rel="stylesheet" />
<link href="~/Content/order-index.css" rel="stylesheet" />
<script src="~/Scripts/base.js"></script>
<div class="main">
        <div class="jumbotron banner">
            <div style="padding: 20px;">
                <div id="cartCounter" class="cart-count">
                    <button class="v-btn v-btn--icon" id="btnTotalCount" style="margin: 20px 20px;">
                        <span class="v-badge--overlap">
                            <i class="glyphicon glyphicon-shopping-cart" style="font-size: 25px;"> </i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="container" style="text-align: center; margin-top: 110px; position: relative;">
                <span class="display-2 head-font" style="color: white; filter: drop-shadow(Darkgreen 2px 2px 1px);">Great Dinner Everyday</span>
            </div>
        </div>
        <div id="tab">
            <ul>
                @foreach (var tab in Model)
                {
                    <li class="tab" href="@($"#tab{tab.CategoryId}")" data-id="@tab.CategoryId">
                        <a class="tab-headline">@tab.CategoryName</a>
                    </li>
                }
            </ul>
        </div>
<div class="container page">
    <div id="currentTab" class="tab-inner">
    </div>
    <div id="customerInfo" class="tab-inner">
        <form id="formCustomerInfo">
            <div class="form-group">
                <label for="customerName">姓名</label>
                <input class="form-control" required="required" name="name" id="customerName" />
            </div>
            <div class="form-group">
                <label for="customerAddress">地址</label>
                <input class="form-control" required="required" name="address" id="customerAddress" />
            </div>
            <div class="form-group">
                <label for="customerTel">電話</label>
                <input class="form-control" maxlength="8" type="tel" name="phone" id="customerTel" />
            </div>
            <div class="form-group">
                <label for="customerEmail">電子郵件</label>
                <input class="form-control" type="email" name="email" id="customerEmail" />
            </div>
        </form>
        <a class="btn btn-warning" style="width: 33%; font-size: 20px; font-weight: bold;" id="btnCustomerInfoCancel">取消
            <i class="glyphicon glyphicon-arrow-left" style="font-size: 20px;"> </i></a>
        <a class="btn btn-danger" style="width: 33%; font-size: 20px; font-weight: bold;" id="btnCustomerInfoClear">重新輸入
            <i class="glyphicon glyphicon-remove-circle" style="font-size: 20px;"> </i></a>
        <a class="btn btn-success" style="width: 33%; font-size: 20px; font-weight: bold;" id="btnFinishCheckOut">送出訂單
            <i class="glyphicon glyphicon-envelope" style="font-size: 20px;"> </i></a>
    </div>
    <div id="finishCheckOut" class="tab-inner">
        <div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>已成功落單喇，多謝幫襯！！</div>
        <div class="alert alert-success"><span class="glyphicon glyphicon-envelope"></span>確認電郵將送到以下電郵地址</div>
        <div class="alert alert-success"><span class="glyphicon glyphicon-info-sign"></span>系統將於<span id="showtime"></span> 秒後回到主頁</div>
    </div>
</div>
</div>
        <footer style="background-color: black">
            <div style="text-align: center; height: 32px; color: white;">
                ©2019 —
                <img src="https://verdantsparks.github.io/job-applicant-exercise/img/vs_logo.1b5013d6.png" style="width: 32px; height: 32px;" />
                <strong>VerdantSparks</strong>
            </div>
        </footer>
<div id="loading">
    <div class="lds-ellipsis">
        <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var currentTab = $('#currentTab');
        var tab = $('.tab');
        var cartCounter = $("#cartCounter");
        var putInOne = 0;
        var throwOne = 1;
        var throwAll = 2;
        var countdownSecond = 5;
        $(function() {
            $(tab.eq(0).addClass('active').attr('href')).siblings('.tab-inner').hide();
            setPartialViewWithAjax('@Url.Action("OrderPage")',
                { categoryId: @Model[0].CategoryId }
            );
            currentTab.show().siblings('.tab-inner').hide();
            $(this).addClass('active').siblings('.active').removeClass('active');
        });
        $(document).ready(function() {
            $("#formCustomerInfo").validate({
                rules: {
                    name: "required",
                    address: "required",
                    phone: {
                        minlength: 8,
                        required: true
                    },
                    email: {
                        required: true,
                        email:true
                    }
                }, messages: {
                    name: "必填",
                    address: "必填",
                    phone: "需要正確電話格式",
                    email: "需要正確電郵格式"
                }, submitHandler: function () {
                    var form = $("#formCustomerInfo");
                    $.ajax({
                        url: '@Url.Action("FinishCheckOut")',
                        data: form.serialize(),
                        type: "Get",
                        dataType: "json",
                        async: true,
                        success: function(result) {
                            if (result.success) {
                                $("#finishCheckOut").show().siblings('.tab-inner').hide();
                                currentTab.addClass('active').siblings('.active').removeClass('active');
                                setInterval("Countdown()", 1000);
                            } else {
                                alert(result.message);
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    });
                }
            });
            currentTab.on("click",
                ".btnPurchase",
                function() {
                    var btn = $(this);
                    doAjax('@Url.Action("Purchase")',
                        {
                            cuisineId: $(this).data('id')
                        },
                        function(result) {
                            cartCounter.html(result.counterView);
                            btn.parent().parent().find('.cuisineCounter')[0].innerHTML = result.cuisineCountView;
                            if (result.cuisineCount === 0) {
                                btn.prop('disabled', true);
                            }
                        });
                });
            tab.click(function() {
                setPartialViewWithAjax('@Url.Action("OrderPage")',
                    { categoryId: $(this).data('id') }
                );
                currentTab.show().siblings('.tab-inner').hide();
                $(this).addClass('active').siblings('.active').removeClass('active');
            });
            cartCounter.on('click',
                '#btnTotalCount',
                function() {
                    setPartialViewWithAjax('@Url.Action("_CheckOut")', {});
                    currentTab.show().siblings('.tab-inner').hide();
                });

            currentTab.on("click",
                ".btnPurchaseOne",
                function() {
                    var btn = $(this);
                    pickCuisine(btn.data('id'), putInOne);
                });
            currentTab.on("click",
                ".btnRemoveOne",
                function() {
                    var btn = $(this);
                    pickCuisine(btn.data('id'), throwOne);
                });
            currentTab.on("click",
                ".btnRemove",
                function() {
                    var btn = $(this);
                    pickCuisine(btn.data('id'), throwAll);
                });
            currentTab.on("click",
                "#btnCustomerInfoConfirm",
                function() {
                    $("#customerInfo").show().siblings('.tab-inner').hide();
                    $(this).addClass('active').siblings('.active').removeClass('active');
                });
            $("#btnCustomerInfoClear").click(function() {
                $("#customerInfo input").val('');
            });
            $("#btnCustomerInfoCancel").click(function() {
                currentTab.show().siblings('.tab-inner').hide();
            });
            $("#customerInfo").on("click",
                "#btnFinishCheckOut",
                function () {
                    $("#formCustomerInfo").submit();
                });
        });

        function Countdown() {
            $("#showtime")[0].innerHTML = countdownSecond;
            countdownSecond -= 1;
            if (countdownSecond === 0)
                location.reload();
        }

        function pickCuisine(cuisineId, disposition) {
            setPartialViewWithAjax('@Url.Action("_CheckOutPurchase")',
                {
                    cuisineId: cuisineId,
                    disposition: disposition
                }
            );
        }

        setInputFilter(document.getElementById("customerTel"), function (value) {
            return /^\d*\.?\d*$/.test(value);
        });

        function setPartialViewWithAjax(url, data) {
            doAjax(url,
                data,
                function(result) {
                    cartCounter.html(result.counterView);
                    currentTab.html(result.shopView);
                });
        }

    </script>
}
