
@{
    ViewBag.Title = "Index";
}
<style type="text/css">

    #tab > ul {
        display: block;
        margin: 0;
        list-style: none;
        padding: 0px;
        background-color: black;
    }

    .tab-title {
        list-style: none;
    }

    #tab > ul > li {
        display: inline-block;
        vertical-align: top;
        font-family: 'Roboto', sans-serif !important;
        margin: 0 -1px -1px 0;
        border: 1px solid #BCBCBC;
        height: 25px;
        background: #000000;
        padding: 0 15px;
        list-style: none;
        box-sizing: border-box;
        width: 33%;
        padding: 0px;
        text-align: center;
        font-size: 24px !important;
        font-weight: 400;
        height: 43px !important;    
        border: 0px;
        margin: 0px;
    }

        #tab > ul > li a {
            color: #000;
            text-decoration: none;
            color: white;
        }

    #tab > ul > li.active {
        border-bottom: 2px solid #ff9800;
    }
        #tab > ul > li.active > a {
            filter: drop-shadow(green 2px 2px 1px);
        }

    #tab > .tab-inner {
        clear: both;
        color: #000;
        border: 1px #BCBCBC solid;
    }

    .tab-inner {
        padding: 15px;
    }
</style>

<div>
    <div>
        <div class="jumbotron" style="background-size: cover; padding-top: 0px; margin: 0px; height: 320px; background-image: url(&quot;https://picsum.photos/id/163/1280/480&quot;); background-position: center center;">
            <div id="cartCounter" style="text-align: right">
                <button class="v-btn v-btn--icon theme--dark" id="btnTotalCount" style="margin: 20px 20px 0 0;">
                    <span class="v-badge--overlap">
                        <i class="glyphicon glyphicon-shopping-cart" style="font-size: 25px;"> </i>
                    </span>
                </button>
            </div>
            <div class="container" style="text-align: center;">
                <span class="display-2" style="color: white; filter: drop-shadow(Darkgreen 2px 2px 1px);">Great Dinner Everyday</span>
            </div>
        </div>
        <div id="tab">
            <ul>
                @foreach (var tab in Model)
                {
                    <li class="tab" href="@($"#tab{tab.CategoryId}")" data-id="@tab.CategoryId">
                        <a>@tab.CategoryName</a>
                    </li>
                }
            </ul>
        </div>
        <div class="container">
            <div id="currentTab" class="tab-inner">

            </div>
            <div id="customerInfo" class="tab-inner">
                <label>姓名</label> <input id="customerName" />
                <label>地址</label><input id="customerAddress" />
                <label>電話</label><input id="customerTel" />
                <label>電子郵件</label><input id="customerEmail" />
                <a id="btnFinishCheckOut">Purchase</a>
            </div>
            <div id="finishCheckOut" class="tab-inner">
                <span id="showtime"></span> 秒後刷新頁面…
            </div>
        </div>
        <footer style="background-color: black">
            <div style="text-align: center; height: 32px; color: white;">
                ©2019 —
                <img src="https://verdantsparks.github.io/job-applicant-exercise/img/vs_logo.1b5013d6.png" style="width: 32px; height: 32px;"/>
                <strong>VerdantSparks</strong>
            </div>
        </footer>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var currentTab = $('#currentTab');
        var tab = $('.tab');
        var cartCounter = $("#cartCounter");
        var putInOne = 0;
        var throwOne = 1;
        var throwAll = 2;
        var countdownSecond = 5;
        $(function() {
            $(tab.eq(0).addClass('active').attr('href')).siblings('.tab-inner').hide();
            setPartialViewWithAjax('@Url.Action("OrderPage")',
                { categoryId: @Model[0].CategoryId }
            );
            currentTab.show().siblings('.tab-inner').hide();
            $(this).addClass('active').siblings('.active').removeClass('active');
        });
        $(document).ready(function() {
            currentTab.on("click",
                ".btnPurchase",
                function() {
                    var btn = $(this);
                    doAjax('@Url.Action("Purchase")',
                        {
                            cuisineId: $(this).data('id')
                        },
                        function(result) {
                            cartCounter.html(result.counterView);
                            btn.parent().parent().find('.cuisineCounter')[0].innerHTML = result.cuisineCountView;
                        });
                });
            tab.click(function() {
                setPartialViewWithAjax('@Url.Action("OrderPage")',
                    { categoryId: $(this).data('id') }
                );
                $(this).addClass('active').siblings('.active').removeClass('active');
            });
            cartCounter.on('click',
                '#btnTotalCount',
                function() {
                    setPartialViewWithAjax('@Url.Action("_CheckOut")', {});
                });

            currentTab.on("click",
                ".btnPurchaseOne",
                function() {
                    var btn = $(this);
                    pickCuisine(btn.data('id'), putInOne);
                });
            currentTab.on("click",
                ".btnRemoveOne",
                function() {
                    var btn = $(this);
                    pickCuisine(btn.data('id'), throwOne);
                });
            currentTab.on("click",
                ".btnRemove",
                function() {
                    var btn = $(this);
                    pickCuisine(btn.data('id'), throwAll);
                });
            currentTab.on("click",
                "#btnCustomerInfoConfirm",
                function() {
                    $("#customerInfo").show().siblings('.tab-inner').hide();
                    $(this).addClass('active').siblings('.active').removeClass('active');
                });
            $("#customerInfo").on("click",
                "#btnFinishCheckOut",
                function () {
                    var currentTab = $(this);
                    $.ajax({
                        url: '@Url.Action("FinishCheckOut")',
                        data: {
                            name: $("#customerName").val(),
                            email: $("#customerEmail").val(),
                            phone: $("#customerTel").val(),
                            address: $("#customerAddress").val()
                        },
                        type: "Get",
                        dataType: "json",
                        async: true,
                        success: function (result) {
                            if (result.success) {
                                $("#finishCheckOut").show().siblings('.tab-inner').hide();
                                currentTab .addClass('active').siblings('.active').removeClass('active');
                                setInterval("Countdown()", 1000);
                            } else {
                                alert(result.message);
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    });
                });

        });
        function Countdown() {
            $("#showtime").innerHTML = countdownSecond;
            countdownSecond -= 1;
            if (countdownSecond === 0)
                location.reload();
        }

        function pickCuisine(cuisineId, disposition) {
            setPartialViewWithAjax('@Url.Action("_CheckOutPurchase")',
                {
                    cuisineId: cuisineId,
                    disposition: disposition
                }
            );
        }

        function setPartialViewWithAjax(url, data) {
            doAjax(url,
                data,
                function(result) {
                    cartCounter.html(result.counterView);
                    currentTab.html(result.shopView);
                });
        }

        function doAjax(url, data, action) {
            $.ajax({
                url: url,
                data: data,
                type: "Get",
                dataType: "json",
                async: false,
                success: function(result) {
                    if (result.success) {
                        action(result.data);
                    } else {
                        alert(result.message);
                    }
                }
            });
        }
    </script>
}
